@import url("https://fonts.googleapis.com/css2?family=Gabara+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-right {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-out-left {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in-left {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-out-right {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
